<div class="mt-3 ps-3" style="color: black;"><h3>{{data}}</h3>

</div>
<div  id="c4">
    <form [formGroup]="loginForm" style="height: 300px; margin-left: 100px; background-color: rgba(66, 71, 74, 0.14);" class="container  p-5 mt-5 " action="">
        <h1 style="color: rgb(122, 127, 131);" class="text-center ">Sign IN</h1>
        <div id="c1">
            <input formControlName="acno"  id="u1" name="uname" class="form-control mt-3 " type="text" [placeholder]="data1">
        </div>
        <div id="c2">
            <input formControlName="psw" id="p1" name="Password" class="form-control mt-3" type="text" placeholder="Enter Password">
        </div>
        <div class=" text-center mt-3">
            <button (click)="login()" class="btn btn-secondary ">Login</button>
<p class="mt-2 text-white">dont have account ?  <a routerLink="register">create account</a></p>


        </div>
    </form>
</div>





