/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/merger-agreement.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
header{
    color: white;
    height: 50px;
    background-color:rgb(66, 71, 74);
}
footer{
position: fixed;
 bottom: 0;
 width: 100%;
color: white;
height: 60px;
background-color:rgb(66, 71, 74);

}
